<div
class="modal fade"
data-backdrop="static"
id="errorSuccessModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="m-3">
        <div class=" text-center">
            <h3 id="modalIcon"></h3>
            <p id="modalMessage">Come partner with Faster and earn ₦300,000 monthly! <br> Enter your email below. Instructions will be  sent to you via mail.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>