<div
class="modal fade"
data-backdrop="static"
id="videoModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="m-3">
        <div class=" text-center">
            <h3>Own a bike?</h3>
            <p>Come partner with Faster and earn ₦300,000 monthly! <br> Enter your email below. Instructions will be  sent to you via mail.</p>
        </div>
        <div >
            <form  method="post" id="appForm">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="input-group">
                            <input
                              type="email"
                              class="form-control border-light"
                              style="padding: 30px;"
                              placeholder="Email"
                              id="appEmail"
                              required
                            />
                            <div class="input-group-append">
                              <button class="btn btn-primary px-3" type="submit">Get Started</button>
                            </div>
                          </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>